html{
    width: 1260px;
    height: 880px;
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    background-color: #edf2c5;
}
.body-box{
    background: #edf2c5;
    width: 940px;
    margin-left: 160px;
    margin-right: 160px;
}
.title-vegetables{
    width: 271px;
    height: 62px;
    font-family: "Arial-Black";
    font-size: 44px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    padding-top: 10px;
    padding-bottom: 0px;
}
header{
    height: 62px;
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icon{
    margin-top: 24px;
    margin-bottom: 18px;
}
.header-squential{
    width:200px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-button{
    width: 60px;
    font-size: 14px;
    line-height: 13px;
    font-family: "Arial";
    padding: 5px 7px;
    border: solid 1px #778a50;
    border-radius: 5px;
    background-color: #edf2c5;
    color: #778a50;
    font-weight: 600;
}
.header-divider{
    height:25px;
    border-right: 1px #778a50 solid;
}
.navbar{
    background-color: #778a50;
    margin-bottom: 5px;
    border-radius: 5px; 
    height: 44px;
    margin-bottom: 20px;
}
.navbar-ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration:none;
    display: flex;
    color: #edf2c5;
    font-family: "Arial-black";
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
}

.navbar-ul-list{
    margin: 10px 30px 11px 30px;
    height: 23px;
    display:flex;
    align-items: center;
}
.banner{
    margin-bottom:30px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container-nav{
    height:45px ;
    width: 414px;
    background-color: #778a50;
    margin-bottom: 15px;
    padding-left:30px;
    border-radius: 5px; 
    color: #edf2c5;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    display:flex;
    align-items: center;

}
.container-right{
    width: 444px;
}
.img-vegetables{
    display: flex;
    justify-content: space-between;
}

.container-contact-text{
    background-color: #f7fbda;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}
hr{
    margin: 15px 0px;
}
.contact-text-p1{
    margin: 0px;
    padding: 0px;
    width: 414px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}
.contact-text-p2{
    margin: 0px;
    padding: 0px;
    width: 414px;
    height: 35px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}
.footer{
    margin-top: 35px;
    background-color: #778a50;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
}

.footer-p{
text-align: center;
}
